
BeautyBell.xcodeproj/xcuserdata/randyefan.xcuserdatad/xcschemes/xcschememanagement.plist

BeautyBell.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

Pods/Pods.xcodeproj/xcuserdata/randyefan.xcuserdatad/xcschemes/xcschememanagement.plist
