<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeautyBell.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DAD08926265F883800CA59CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAD0893C265F883A00CA59CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAD08947265F883A00CA59CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
